@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #1f2937;
  height: 450px;
}

nav {
  color: white;
  display: flex;
}

.nav-bar {
  margin-left: 50px;
  margin-right: 50px;
}

.header-logo {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 1.5em;
  display: inline-block;
  width: 500px;
}

.link-container {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 1px;
  width: 100%;
}

.header-link {
  padding: 10px 10px;
}

a {
  text-decoration: none;
  color: white;
}

.primary-container {
  display: flex;
  padding-top: 50px;
}

.first-child-container,
.second-child-container {
  width: 50%;
  padding: 50px;
}

.second-child-container {
  text-align: center;
  background-color: #e5e7eb;
  margin-right: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.awesome-website-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.awesome-website-paragraph {
  color: #e5e7eb;
  padding-top: 10px;
  padding-bottom: 20px;
}

.awesome-signup-button {
  background-color: #3882f6;
  display: inline-block;
  padding: 10px 30px;
  color: #f9faf8;
  border-radius: 10px;
  border: none;
}

main h1 {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
}

.random-info-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.image-container {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0;
  /* padding: 10px 500px 0 500px; */
}

.box {
  height: 150px;
  width: 150px;
  border: 5px solid #3882f6;
  border-radius: 10px;
  margin-bottom: 0;
}

.text-container {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 5px 500px 0 500px; */
  margin-top: 0;
  margin-bottom: 20px;
}

.text-box {
  height: auto;
  width: 150px;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  color: #1f2937;
}

.quote-container {
  height: 450px;
  background-color: #e5e7eb;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  height: auto;
  width: 50%;
}

.author {
  padding-top: 20px;
  text-align: end;
  display: inline;
  text-align: end;
  width: 50%;
  font-size: 20px;
}

footer {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  background-color: #3882f6;
  height: 100px;
  width: 75%;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.call-to-action {
  color: #e5e7eb;
}
.call-to-action-title {
  font-weight: 300;
  font-size: larger;
}

.signup-button {
  padding: 10px 30px;
  border: 2px solid #f9faf8;
  border-radius: 10px;

  background-color: #3882f6;
  color: #f9faf8;
}
